/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9rem;
    line-height: 1.5;
    background: #ebedef !important;
    color: #444;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: fixed;
    z-index: 3050;
    width: calc(100% - 200px);
    padding: 4px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);

}
nav.active {
    width: 100%;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #232e40;
    background-blend-mode: multiply;
    background-image: url(../img/app/navbar.jpg);
    color: #ffffff;
    transition: all 0.3s;
    transition: background-color .5s ease 0s;
    border: none;
    margin-right: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
}

#sidebar::before {
    opacity: .33;
    background: #000;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 17px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #6171be;
}

#sidebar ul p {
    color: #353638;
    padding: 15px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}
#sidebar ul li a i{
    color: #ffffff;
    border: 1px solid #a9a8a8;
    background: #6171be;
    border-radius: 50px;
    padding: 10px;
}

#sidebar ul li a:hover { /* 
    color: #7386D5;
    background: #fff; */
        color: #ffffff;
    background: #6171be;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /*
    color: #fff; */
    color: #ffffff;
    background-color: #6171be;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #6d7fcc; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #6171be;
}

a.article,
a.article:hover {
    background: #6171be !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 200px);
    padding: 0px 0px 0px 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 200px);
    }
    #sidebarCollapse span {
        display: none;
    }
    
    .navbar {
        width: 100%;
    }
    nav.active {
        width: calc(100% - 200px);
    }
    
}
@media (min-width: 576px){
    #sidebar {
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: -200px;
    }
    #content {
        width: calc(100% - 200px);
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
    .navbar {
        width: calc(100% - 200px);
    }
    nav.active {
        width: 100%;        
    }
}

/* ---------------------------------------------------
    breadcrumb
----------------------------------------------------- */
.breadcrumb {
    padding: 5px;
    background-color: #ffffffd4;
    font-size: .76rem;
    color: #565656;
}
.content-main{
 /*    background-color: #f7f7f7bf; */
}


/* Nabvar opaco */
.opaque-navbar {
    background-color: rgb(60, 99, 92); 
   
    height: 60px;
    color: #f6f6f6;
    background-color:rgba(0,0,0,0); /// Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    /*background-color: #2f4050; */
    height: 60px;
    color: #f6f6f6;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #091d19e6;  /* #2f4b46eb; */
    height: 60px;
    color: #f6f6f6;
    transition: background-color .5s ease 0s;
}
.btn-primary2 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn.btn-primary2{
    color: #fff;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #050709;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
 
}
ul.dropdown-menu {
    background-color: #00000008;
}
/*
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0em;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
} */
.dataTables_wrapper .dataTables_length {
    float: left;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: right;
    padding-top: 0em;
    text-align: center;
     padding-top: 0em;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color:grey;
}
.form-inline {
    display: -ms-flexbox;
    display: contents;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1.9em;
    padding: 0px;
    margin-left: -1px;
    left: 2px;
}
.dataTables_wrapper {
    width: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #6171be;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #6171be 0%, #6171be 100%);
    box-shadow: inset 0 0 3px #6171be;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #6171be;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

/*
@media (max-width: 992px) {
  body
  {
    background:red;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
*/
/*
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
@media (max-width: 768px) {
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar {
        margin-left: 0; 
    }
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}
*/

fieldset {
    background-color: #fafafa; /* #ca4f4f00 */
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #e9ecef;
    padding-top: 7px;
}

legend {
    /* 
    background-color: #efefef;
    border: 1px solid #e9ecef; */
    border-radius: 4px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    width: auto;
    margin: 0px 9px 0px;
}
fieldset div.row {
    padding-left: 10px;
    padding-right: 10px;
}
.btn {
    padding: .34rem .6rem;
    font-size: .9rem;
    border-radius: 0.1rem;
}
.page-link {
    padding: 0.36rem 0.3rem;
    color: #6171be;
    /* background-color: #fff; */
    border: 1px solid #bfbfbf;
}
.page-link:hover {
    color: #6171be;
    /* background-color: #fff; */
    border: 1px solid #6597cce3;
    border-color: #d2cfea;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 9px;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.2rem;
    padding-right: 0rem;
}
table.dataTable thead th, table.dataTable thead td {
    /* padding: 1px 5px 2px 5px;   
    border-bottom: 1px solid #c1c1c1; */

}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600;
    align-self: center;
    align-content: center;
    text-align: center;
}
.form-control {
    height: calc(2rem + 2px);
    padding: .2rem .2rem .2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dedede;
    border-radius: .0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select.form-control {
    padding: .2rem .2rem .2rem .0rem !important;
}

label {
    margin-bottom: .3rem;
}
.btn-primary {
    color: #fff;
    background-color: #6171be;
    border-color: #6171be;
}
.btn-outline-primary {
    color: #6171be;
    border-color: #6171be;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6597cce3;
    border-color: #d2cfea;
}
.btn-outline-primary:hover {
    color: #6597cce3;
    background-color: #6171be00;
    border-color: #d2cfea;
}
.btn-warning {
    color: #fff;
    background-color: #FF9100;
    border-color: #FF9100;
}
.btn-light {
    background-color: #ffffff;
    border-color: #f1e9e9;
}
.page-item.active .page-link {
    background-color: #6171be;
    border-color: #6171be;
}
.badge-success {
    color: #fff;
    background-color: #6171be;
    /* margin: 4px; */
    box-shadow: 0px 0px 0px 2px rgb(97, 113, 190)
    font-size: .7rem;
    padding-right: 10px
    padding-left: 10px
}
.btn-secondary-dark {
    color: #212529;
    background-color: #dededf;
    border-color: #f7f7f7;
}
.btn-secondary-dark:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.input-group-prepend {
    /* margin-right: -1px; */
    z-index: 0;
}
.input-group-append .btn, .input-group-prepend .btn {
    z-index: 0;
}
footer {
    padding: 1rem;
    bottom: 0;
    position: absolute;
    left: 0;
}
.red-star{
    color: red;
}
label.error { float: none; color: red; padding-left: .5em; vertical-align: middle; font-size: 12px; }
.select2-container--default .select2-selection--single {
    border: 1px solid #dedede;
    border-radius: 1px;
        width: 100%;
}
.select2-container .select2-selection--single {
    height: 34px;
        width: 100%;
}
.form-group > span{
    width: 100%
}

.header-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.breadcrumb-nav {
    padding: 43px 0px 15px 0px; 
    width: 100%; 
    position: fixed; 
    z-index: 3010;
}
.breadcrumb-nav nav {
    background-color: #ffffffd4;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
}

.panel-white {
    background-color: #ffffffd4;
    padding: 10px;
}
.panel {
    background-color: #ffffffd4;
}

/* Paleta de colores */
.color-warning {
    color: #FF9100;
}
.color-danger {
    color: #dc3545;
}
.color-info {
    color: #17a2b8;
}
.color-primary {
    color: #6171be;
}
.color-default {
    color: #6c757d;
}
.color-dark {
    color: #343a40;
}
.color-dark:hover {
    color: #afafafb8;
    font-size: .99rem;
}
.color-success {
    color: #28a745;
}
.card-padding {
    padding-bottom: 10px;
}

.ui-autocomplete-loading {
    background: white url("img/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 7px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.table-cell {
        width: 100%;
        overflow-x: hidden;
    }

    .table-cell tbody tr td input {
        border: 0;
        margin: .05em;
    }

    .table-cell tbody {
        height: 300px;
        overflow-y: auto;
        width: 100%;
    }

    .table-cell tbody tr td {
        border: 1px solid #e0e0d1;
    }

    .table-cell thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        padding: .4rem;
        vertical-align: top;
    }

    .table-cell tbody tr {
        padding: .0rem;
        vertical-align: top;
    }

    .table-cell td {
        padding: .0rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table-cell select {
        padding: .1rem;
        /* vertical-align: top; */
        /* border-top: 1px solid #dee2e6; */
        height: calc(2.3rem + 1px) !important
    }

    .table-cell input[readonly] {
        background-color: #ffffff;
    }
    .modal-open .modal {
    /* display: flex !important; */
    align-items: center;
    justify-content: center;
    z-index: 3060;
}
.btn-light.disabled, .btn-light:disabled {
    color: #231f1b;
    background-color: #e5e7e8;
    border-color: #f8f9fa;
}
.btn.disabled, .btn:disabled {
    opacity: 0.8;
}
.readonly{
    cursor: not-allowed;
}

.dataTables_wrapper .dataTables_processing {
position: absolute;
top: 40% !important;
left: 50%;
width: 280px !important;
height: 120px;
margin-left: -20%;
margin-top: -25px;
padding-top: 20px;
text-align: center;
font-size: 1.5em;
z-index: 3051;
background:#6171be;
background-image: url('../../assets/img/app/loading.gif');
background-size: 130px;
background-position: center;
background-repeat: no-repeat;
color: #fff
}
table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 1px solid #c1c1c1;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #c1c1c1 !important;
} 
.dataTables_length > label > select {
    padding: .375rem 1.75rem .375rem .75rem !important;
}
.card-header {
    padding: 0.4rem 0.8rem;
    margin-bottom: 0px;
    color: inherit;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(235, 237, 239);
}
.card-footer {
    padding: .4rem .8rem;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(235, 237, 239); /* 1px solid rgb(235, 235, 235); */
}
.group-ico {
    width: 100%;
}
.inputIco {
    font-size: 12px;
    margin: 10px 2px 9px 2px;
    position: absolute;
    text-align: center;
}
.with-all{
    width: 100%;
}
.card-title{
    margin-bottom: .75rem;
    /* border-bottom: 1px solid #c1c1c1; */
    width: 100%;
    /* padding-bottom: 5px; */
}
div .card-text{
    padding-bottom: 12px
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #007bff;
}
.dropdown-item {
    padding: .26rem .6rem;
}
.dropdown-menu {
    padding: .1rem 0;
}

.bootstrap-select .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3061;
    max-width: 600px;
}
.pagination{
    float: right;
}
.table-div {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

td > .dropdown .bootstrap-select .show-tick .form-control {
    height: calc(2rem + 1px);
}
td > .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #999;
    height: calc(2.2rem + 1px);
}
td > .bootstrap-select>.dropdown-toggle {
    height: calc(2.2rem + 1px);
}
td > .dropdown .bootstrap-select .show-tick .form-control{
    height: calc(2.2rem + 1px);
}